{{ form_start(form) }}
    {{ form_widget(form.name,{'attr':{'class':'form form-control'}}) }}
<br>
    <button class="btn btn-primary">{{ button_label|default('Add Category') }}</button>
{{ form_end(form) }}
